data/
orgdata/
orgdata
output/
tmp*/
err*.txt
info.txt
warn*.txt
__pycache__/
*.s
*.hs
*~
*.bak
*.ahv
*.hv
*.v
*.csv
# Tensorboard files
events.*
# user defined ignores
output_magez*/
simulation_src/sim_results/
simulation_src/sim_results*/*
simulation_src/run*.ps1
simulation_src/run*.sh
